<script type="text/javascript">
jQuery(document).ready(function($){
  var get = Ember.get;
  // Can use with an inner template:
  //{{#answer tagName="span"}}Purpose: {{purpose}}{{/answer}}
  // or just define needed variable to display:
  //{{answer tagName="span" val="purpose"}}
  Ember.Handlebars.registerHelper('answer', function(path, options) {
    return Ember.Handlebars.ViewHelper.helper(this, "BJCP.Answer", path);
  });

  var paginationView = Ember.View.extend({templateName: 'pagination'});
  paginationView.create().appendTo('.paginationHeader');
  paginationView.create().appendTo('.paginationFooter');
  $('.questionPage:first').show();

  BJCP.ClickableView = Ember.View.extend({
    change: function(evt) {
      var i = $('.allStylesAhead').index($(evt.target));
      var citiesWithStyles = BJCP.StyleCompareCities.get('cities');
      var styles = citiesWithStyles[i].get('optionalStyles');
      var enteredVal = $(evt.target).val();

      var match = _.find(styles, function(style){
        return style.style_name === enteredVal;
      });
      citiesWithStyles[i].set('selectedStyle', match);
      var selectedStyles = BJCP.StyleCompareCities.get('styles');
      selectedStyles[i] = Ember.Object.create(match || {});
      selectedStyles = _.map(selectedStyles, function(x){return x;}); // clone, otherwise Ember ignores change
      BJCP.StyleCompareCities.set('styles', selectedStyles);
    }
  });

  BJCP.SampleQuiz = Ember.Object.create({
    showingAnswers: false,
    activePage: undefined
  });

  BJCP.ShowAnswers = Ember.View.extend({
    click: function(){
      BJCP.SampleQuiz.set('showingAnswers', true);
    }
  });
  BJCP.HideAnswers = Ember.View.extend({
    click: function(){
      BJCP.SampleQuiz.set('showingAnswers', false);
    }
  });
  //TODO {{answer}} not working within each
  BJCP.Answer = Ember.View.extend({
    tagName: "div",
    isVisible: function(){
      return BJCP.SampleQuiz.get('showingAnswers');
    }.property('BJCP.SampleQuiz.showingAnswers'),
    templateContext: Ember.computed(function(key, value) {
      return Ember.get(this, 'bindingContext');
    }).cacheable(),
    template: Ember.computed(function(key, value) {
      // template only gets called if {{answer}} and not {{#answer}}{{/answer}}
      if (value !== undefined) { return value; }
      var context = get(this, 'templateContext');
      var val = get(this,'val');
      var raw = get(this,'raw'); // literal as-is value
      if(raw) return raw;
      return context.get(get(this,'val')) ||
             get(this, 'defaultTemplate');
    }).property('templateName').cacheable(),
    render: function(buffer) {
      var template = get(this, 'template');
      if (template) {
        var context = get(this, 'templateContext'),
            data = { view: this, buffer: buffer, isRenderData: true };
        var output = (typeof template === 'string') ? template : template(context, { data: data });
        if (output !== undefined) { buffer.push(output); }
      }
    }
  });
  $('.pageOption').live('click', function(e){
    e.preventDefault();
    if($(this).hasClass('active')) return;
    var page = parseInt($(this).attr('data-page'));
    $('.questionPage').hide().filter('.q'+page).show();
    $('.pageOption.next').attr('data-page', page+1);
    $('.pageOption').removeClass('active').filter('[data-page='+page+']').addClass('active');
    if(page === 10) $('.pageOption.next').hide();
    else $('.pageOption.next').show();

    if(page === 0) $('.showHideAnswers').hide();
    else $('.showHideAnswers').show();

    if(BJCP.SampleQuiz.get('showingAnswers')) $('.answers').show();
    else $('.answers').hide();
    autoStyleFill();
  });
  var StyleCompareClass = Ember.Object.extend();
  BJCP.StyleCompare1 = StyleCompareClass.create();
  BJCP.StyleCompare2 = StyleCompareClass.create();
  BJCP.StyleCompare3 = StyleCompareClass.create();
  BJCP.StyleCompareCities = StyleCompareClass.create({
    isCities: true,
    cities: [],
    styles: []
  });

  $.ajax({url: '/style_comparisons/for_exam',
          data: {limit: 3},
          success: function(data){
    BJCP.StyleCompare1.set('styles', _.map(data[0], function(x){return Ember.Object.create(x);}));
    BJCP.StyleCompare2.set('styles', _.map(data[1], function(x){return Ember.Object.create(x);}));
    BJCP.StyleCompare3.set('styles', _.map(data[2], function(x){return Ember.Object.create(x);}));
    //BJCP.StyleCompare2.set('styles', data[1]);
  }});
  $.ajax({url: '/styles/styles_with_city',
          data: {},
          success: function(data){

    BJCP.StyleCompareCities.set('cities', _.map(data,
      function(styles,city){
        return Ember.Object.create({city: city,
          optionalStyles: styles
          });
      }));

    BJCP.StyleCompareCities.set('styles', [Ember.Object.create({}),
                                           Ember.Object.create({}),
                                           Ember.Object.create({})]);
  }});
  $('.pageOption[data-page="2"]').first().trigger('click');
//  Ember.View.create({templateName: 'style-comparison'}).appendTo('.quizContent');
  Ember.View.create({templateName: 'style-comparison', compare: BJCP.StyleCompare1}).appendTo('.q2');
  Ember.View.create({templateName: 'style-comparison', compare: BJCP.StyleCompare2}).appendTo('.q4');
  Ember.View.create({templateName: 'style-comparison', compare: BJCP.StyleCompareCities}).appendTo('.q6');
  Ember.View.create({templateName: 'style-comparison', compare: BJCP.StyleCompare3}).appendTo('.q8');

  BJCP.AllStyleNames = Ember.Object.create({names: []});
  $.ajax({url: '/styles/all_names',
          data: {},
          success: function(data){
    BJCP.AllStyleNames.set('names', data);
    autoStyleFill();
  }});

  var autoStyleFill = function(){
    $('.allStylesAhead').typeahead({source: BJCP.AllStyleNames.get('names')});
  };

});
</script>
<style>
.questionPage {
  display: none;
}
</style>
<div class="paginationHeader center"></div>
<div class="quizContent">
  <div class="questionPage q0"><%= render 'intro' %></div>
  <div class="questionPage q1"><%= render 'q1' %></div>
  <div class="questionPage q2"><!-- Compare Styles --></div>
<div class="questionPage q3"><!-- All-Grain Recipe --></div>
  <div class="questionPage q4"><!-- Compare Styles --></div>
  <div class="questionPage q5"><!-- Characteristics --></div>
  <div class="questionPage q6"><!-- "Three Cities" --></div>
  <div class="questionPage q7"><!-- Ingredients --></div>
  <div class="questionPage q8"><!-- Compare Styles --></div>
  <div class="questionPage q9"><!-- Brewing Process --></div>
  <div class="questionPage q10"><!-- Classic Example Scoresheet --></div>
</div>
<div class="paginationFooter center"></div>
<%= render 'pagination' %>
<%= render 'qCompare' %>
<%= render 'qCharacteristics' %>
<%= render 'qIngBrewProc' %>
<%= render 'qRecipe' %>
<%= render 'qClassicExample' %>
